* {
    outline: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: url('../images/bg_mat.png') repeat;
    height: 100%;
    margin-top: 0;
    font: normal 100% 'Ubuntu', Helvetica, Helvetica Neue, Verdana, Cambria, Georgia, Arial, sans-serif;
    min-width: 1016px;
}

.fix {
    width: 90%;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}

header {
    width: 100%;
    margin: 0 auto 0.5em auto;
}

header h1 {
    font-size: 2em;
    font-style: oblique;
    font-weight: 600;
    text-align: center;
    color: #4094b6;
    background-color: transparent;
}

#center {
    height: 100%;
    padding: 10px;
    background: #F3F3F3;
    border-radius: 6px;
    margin-top: 15px;
    box-shadow: 0 1px 1px #000;
}

footer {
    text-align: center;
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: 0;
}

#footer {
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
}

fieldset {
    border-radius: 6px;
    margin: 10px;
    padding: 10px 15px 10px 15px;
}

/*****************************конец основные***************/

/****************подсветка слов поиска**********************/
.highlight {
    background: #fff09e;
    border-top: 1px dashed #c16b3d;
    border-bottom: 1px dashed #c16b3d;
}

/***************подсветка слов поиска**********************/

/*********************************************меню сайта*********************************************/
#navigation {
    margin: 30px auto;
    z-index: 1;
    text-shadow: none;
    font-style: normal;
    background: #666;
    border-radius: 6px;
    width: 100%;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.8);
}

#navigation ul {
    text-align: center;
    overflow: hidden;
    padding: 6px;
    margin: 46px auto 5px;
}

#navigation ul li {
    display: inline;
    padding: 6px 6px;
    margin: 0 1px 0 -6px;
    font-size: 15px;
    border-radius: 4px;
}

#navigation ul li a {
    text-decoration: none;
    margin: 6px;
    color: white;
    display: inline-block;
}

#navigation ul li:hover {
    background: #db4928;
    background: linear-gradient(bottom, #E8563C, #E82C0C);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
}

#navigation ul li.active {
    background: #db4928;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 1);
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 1);
}

/*********************************************************************конец меню сайта*******************************/

/****************************************************всплывающая подсказка************/
#hint {
    padding: 10px;
    background: #fc0;
    border: 2px solid #B25538;
    float: right;
    position: absolute;
    top: 14.5em;
    right: 2.2em;
    width: 220px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-style: italic;
}

#hint a {
    color: black;
    margin: 3px
}

/*********************************************************таблица в разделе "просмотр базы"************/
table.dboutput {
    border: 3px solid #383838;
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin: auto;
    background: rgba(255, 255, 255, 0.6);
    border-collapse: collapse;
}

table.dboutput th {
    background: #232323;
    color: #bcbcbc;
    border-color: #838383;
}

table.dboutput th a {
    background: #232323;
    color: #bcbcbc;
    text-decoration: none;
    border-color: #838383;
}

table.dboutput tr {
    height: 40px;
    padding: 2px;
    border: 1px solid black;
}

table.dboutput a:hover {
    color: #d8d8d8;
}

table.dboutput tr td {
    padding: 3px;
    height: 30px;
    border: 1px solid black;
}

input:not([type="submit"]):focus {
    outline: none;
    border-radius: 4px;
    border-color: #666666;
}

.employeelist {
    border: 4px double #4094b6;
    width: 400px;
    text-align: center;
}

.tr_selected {
    background: #fe9223;
}

.actions_button {
    margin: 40px 5px 0;
}

.button_delete {
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 0.75em 1.6em 0.8125em;
    font-size: 1em;
    background-color: #CB2B2B;
    border: 1px #A12222;
    color: white;
    width: 204px;
    margin-left: 6%;
    float: right;
}

button:hover, button:focus, .button_delete:hover, .button_delete:focus {
    background-color: #A12222;
}

button:hover, button:focus, .button_delete:hover, .button_delete:focus {
    color: white;
}

/********************************************************************************конец раздела "кнопки"***************/
option {
    color: black;
}

/*********************************************************Кнопка наверх*****************************************************/
#back-top {
    position: fixed;
    bottom: -20px;
    margin-left: 10px;
}

#back-top a {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    /* замедление */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#back-top a:hover {
    color: #000;
}

/* изображение со стрелкой (тег img) */
#back-top img {
    /* замедление */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    opacity: 0.3;
}

#back-top a:hover img {
    -webkit-transition: 2s;
    -moz-transition: 2s;
    transition: 2s;
    opacity: 1;
}

/*********************аккордеон*****************/
.accordion {
    width: 100%;
    border-radius: 6px;
    line-height: 1.7;
}

.accordion h3 {
    padding: 7px 15px;
    margin: 0;
    border-bottom: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.accordion h3:hover {
    background-color: #d9d8d8;
    cursor: pointer;
}

.accordion h3.active {
    background: #d9d8d8 right 5px;
    border: 1px solid #AFAFAF;
}

.accordion p {
    margin: 0;
    padding: 10px 20px;
    display: none;
    border-radius: 6px;
}

#model_info form {
    float: right;
}

#metainfo {
    margin: 5px 5px 5px 190px;
    border-top: 1px solid #c7c7c7;
}

#next {
    width: 16px;
    height: 22px;
    margin: 16px;
    opacity: 0.4;
}

#previous {
    width: 16px;
    height: 22px;
    margin: 6px;
    opacity: 0.4;
}

#next:hover, #previous:hover {
    cursor: pointer;
    opacity: 1;
}

button, .button {
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 1.25em;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 0.75em 1.6em 0.8125em;
    font-size: 1em;
    background-color: #2ba6cb;
    border: 1px #2284a1;
    color: white;
    width: 204px;
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: #2284a1;
}

button:hover, button:focus, .button:hover, .button:focus {
    color: white;
}

#tabs {
    font-size: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
}

.delimiter {
    width: 12px;
    border-right: 2px groove #e2e2e2;
    margin: 4px;
}

.sorter_link {
    color: #bcbcbc;
}

.sorter_link:hover {
    color: #d1d1d1;
}

h3 + p {
    text-align: justify;
}

.newsList {
    list-style: none outside none;
    margin: 1% 1%;
}

.newsList li {
    position: relative;
    padding-left: 2%;
}

.newsList li:after {
    content: '✔';
    position: absolute;
    top: 0;
    left: -10px;
}

#forkme {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    float: left;
}

.grid-view .filters input, .grid-view .filters select {
    width: 70%;
    border: 1px solid #ccc;
}

.release_date {
    float: right;
    font-style: italic;
    font-size: 0.8em;
    margin: 0;
}
