#.htaccess
Options Indexes FollowSymLinks
DirectoryIndex m.index.php

#настройки PHP
php_flag short_open_tag On
php_flag log_errors On
php_value magic_quotes_gpc Off
php_flag session.use_trans_sid 1

#выключить перед релизом
php_flag display_errors On
php_flag display_startup_errors On
